body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6e6e6e;
}

.main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
}

.navbar-brand {
    margin-left: 1rem;
    font-size: 1.7rem;
}

.nav-link {
    font-size: 1.5rem;
}

.card {
    width: 100%;
    height: 550px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:nth-child(3n+4) {
    margin-bottom: 0;
}


/* removes margin-bottom for every 4th card */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .logo {
    height: 200px;
    overflow: hidden;
}

.card .logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.card-body a {
    color: #767f8d
}

.card-text {
    font-size: 14px;
}

.article-list {
    height: 300px;
    overflow-y: auto;
}

.article-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: auto;
    /* set a fixed height for the article items */
    overflow: hidden;
    /* add overflow: hidden to hide any content that overflows the fixed height */
}

.article-item:hover .article-text {
    color: #8e99aa;
}

.article-text {
    flex: 1;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    /* increase the font size for the article titles */
    text-decoration: none;
    /* remove the text-decoration for the article titles */
    transition: 0.3s;
}


/* Scrollbar */

.article-list::-webkit-scrollbar {
    width: 10px;
    background-color: #212529;
}

.article-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2a2f34;
}

.article-list::-webkit-scrollbar-thumb:hover {
    background-color: #4e5761;
}


/*  */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* add justify-content: center to center the image within the logo element */
    height: 200px;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* add object-fit: cover to stretch the image to fit the size of the logo element */
}


/* Amazon prices */

.amazonPrices .container .row {
    justify-content: center;
}

.amazon-item {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 700px;
    margin: 10px;
    color: white;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    /* z-index: 1; */
    justify-content: space-between;
    align-items: center;
}

.amazon-item img {
    width: 100%;
}

.amazon-item h2 {
    margin: 10px 0;
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
}

.amazon-item-title{
    max-height: 300px;
    text-overflow: ellipsis;
}

.amazon-item h2 a {
    margin: 10px 0;
    color: #767f8d;
    /* white-space: normal; */
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.amazon-item:hover a {
    color: #8e99aa;
}

.amazon-item p {
    font-weight: bold;
    font-size: xx-large;
}

.amazon-item p.superPrice {
    color: #0cb529;
}

.amazon-item p.normalPrice {
    color: #e9e9e7;
}

.amazon-item .amazon-image {
    height: 280px;
    overflow: hidden;
    z-index: auto;
}

.amazon-item .amazon-image img {
    width: 100%;
    height: auto;
    object-fit: cover
}


/*   */

.comment-section {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.comment-section #comment {
    background-color: #212529!important
}

.plus_item {
    justify-content: center;
}

div.amazon-item p.plus_sign {
    font-size: 300px;
    font-weight: lighter;
    color: #767f8d;
    transition: 0.3s;
    display: none;
}

div.amazon-item p.plus_sign:hover {
    color: #8e99aa;
}

.form {
    display: flex;
}
.removingItem {
    display: none;
    z-index: 2;
}

div.amazon-item:hover .removingItem {
    display: flex;
}
.removeX {
    box-sizing:border-box;
    justify-content: flex-end;
    width:20px;
    height:20px;
    /* border-width:3px; */
    /* border-style: solid; */
    /* border-color:red; */
    border-radius:100%;
    /* display: none; */
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
    background-color: #605353;
    box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}
