.fcb {
    padding: 10px;
}

.article-item a {
    color: #d1d1d1;
    text-decoration: underline;
}

.article-item:hover {
    background-color: #616c76!important;
}

.article-item a:hover {
    color: #d1d1d1;
}

.article-text {
    display: inline-block;
    overflow: hidden;
}

.card-group {
    display: flex;
}